<div class="container" item-width="200px">
    <form [formGroup]="userForm" class="form-horizontal">
        <div class="form-group">
            <label for="firstname">First Name: </label>
            <input formControlName="firstname" type="text" id="firstname" [(ngModel)]='user.firstname' class="form-control">
            <label for="lastname">Last Name: </label>
            <input formControlName="lastname" type="text" id="lastname" [(ngModel)]='user.lastname' class="form-control">
            <label for="username">Username: </label>
            <input formControlName="username" type="text" id="username" [(ngModel)]='user.username' class="form-control">
            <span class="alert alert-danger" *ngIf="username.touched && !username.valid">
                <span *ngIf="username.errors.required" class="alert alert-danger">
                    Username is required
                </span>
                <span *ngIf="!username.errors?.isUnique" class="alert alert-danger">
                    Username should be unique
                </span>
            </span>
            <label for="email">Email: </label>
            <input formControlName="email" type="text" id="email" [(ngModel)]='user.email' class="form-control">
            <label for="role">Role: </label>
            <input formControlName="role" type="text" id="role" [(ngModel)]='user.role' class="form-control">
            <label for="password">Password: </label>
            <input formControlName="password" type="password" id="password" [(ngModel)]='user.password' class="form-control">
            <button class="btn btn-primary" type="button" (click)='submit()'>Save</button>
            <button class="btn btn-primary" type="button" (click)='cancel()'>Cancel</button>
        </div>
    </form>
</div>